@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.in {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
button {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}
button > a {
    display: block;
    width: 100%;
    height: 100%;
}

li > a {
    display: block;
    width: 100%;
    height: 100%;
}

/* header */
header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px 10px rgba(194, 226, 255, .2);
    z-index: 100;
}
header > #logo {
    float: left;
    color: #fff;
    height: 70%;
}
#logo > img {
    height: 100%;
}

header > nav {
    float: right;
}
#main-menu {
    display: flex;
    align-items: center;
}
#main-menu > li {
    float: left;
    text-align: center;
    color: #204891;
    border-bottom-width: 3px;
    font-weight: 700;
    margin: 0 21px;
    transition: .3s;
}
#main-menu > li.active,
#main-menu > li:hover {
    color: #4ea4f4;
}
.login-btn {
    border: 1px solid #204891;
    border-radius: 7px;
    padding: 7px 12px;
    transition: .3s;
    background-color: #204891;
    color: #fff;
}
.login-btn:hover {
    background-color: rgba(255,255,255,0);
    color: #204891;
}

/* home- main */
#main {
    width: 100%;
}
.main-title {
    width: 100%;
    height: 500px;
    background-image: url("/img/main-title.png");
    background-position: center center;
    background-size: cover;
    padding-top: 70px;
    text-align: center;
}
.main-title  p {
    font-size: 45px;
    color: #777;
    font-weight: bold;
    line-height: 1.7;
}
.main-title  p >span {
    color: #fff;
    font-size: 52px;
}
.main-title img {
    opacity: .2;
}
#main-list-title {
    margin-top: 120px;
    text-align: center;
}
#main-list-title > img {
    width: 200px;
}
#main-list-title > h2 {
    color: #091d3e;
    font-size: 42px;
    font-weight: bold;
}
#main-list {
    width: 1500px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#main-list > div {
    flex: 1;
    margin: 0 21px;
    text-align: center;
    color: #0092FF;
    border: 1px solid #fff;
    font-size: 18px;
    padding: 50px 0;
}
#main-list > div:hover {
    border-color: #efefef;
}
#main-list > div > img {
    width: 70px;
}
#main-list > div > h2 {
    color: #091d3e;
    font-size: 28px;
    margin-bottom: 7px;
}
#main-list > div > p {
    font-size: 16px;
    color: #84829f;
}

.main-buttons {
    width: 850px;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin: 50px auto;
    margin-bottom: 100px;
}
.main-buttons > button {
    flex: 1;
    margin: 0 10px;
    background: none;
    border: 2px solid #4472c3;
    border-radius: 12px;
    font-weight: bold;
    font-size: 25px;
    color: #4472c3;
    cursor: pointer;
    transition: .3s;
}
.main-buttons > button:hover {
    background-color: #4472c3;
    color: #fff;
}
.main-buttons > button > a{
    line-height: 65px;
}

/* api */
#api {
    width: 1400px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
}
.api-nav {
    flex: 2;
}
#api-menu > li {
    width: 100%;
    height: 50px;
    color: #777;
    font-size: 21px;
    border-radius: 7px;
    box-shadow: 0 0 20px 3px #ebf6ff;
    margin-bottom: 12px;
    transition: .3s;
}
#api-menu > li.active {
    background-color: #c2e2ff;
    box-shadow: 0 0 20px 3px #7ca7cc;
    margin: 20px;
    color: #333;
    font-weight: bold;
}
#api-menu > li:hover {
    transform: scale(1.05);
}
#api-menu > li > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
}
.api-sub {
    flex: 8;
}
.contents {
    padding: 30px 60px;
    padding-bottom: 100px;
}
.contents > h1 {
    font-size: 45px;
    font-weight: 100;
    border-bottom: 1px solid #000;
    padding-bottom: 14px;
    margin-bottom: 50px;
}
.contents > p {
    margin: 20px 0;
    line-height: 1.7;
    font-size: 18px;
}
.contents .point {
    color: #f44336;
    font-weight: 200;
    background-color: #f2f4f3;
    padding: 0 7px;
}
.contents .accent {
    display: inline-block;
    width: 5px;
    height: 13px;
    background-color: #000;
    margin-right: 7px;
}
.contents > p > a {
    color: #009688;
}
.contents > h2 {
    font-size: 32px;
    font-weight: 100;
    margin: 50px 0;
}

.contents > h3 {
    margin: 40px auto;
}

/* download */
#download {
    width: 100%;
    padding: 30px;
}
.download-form {
    width: 1000px;
    padding: 30px 100px;
    margin: 70px auto;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.download-input-boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.download-input-boxes > div {
    width: 50%;
    margin-bottom: 30px;
    padding: 10px;
}
.download-input-boxes > div > h3 {
    margin-bottom: 7px;
    padding-left: 7px;
}
.download-input-boxes > div > input {
    width: 100%;
    height: 45px;
    padding: 12px;
    outline: none;
    border-radius: 12px;
    transition: .3s;
    font-size: 16px;
    border: 1px solid #777;
}
.download-form > p {
    color: #777;
    line-height: 1.7;
    margin-bottom: 21px;
}
.download-form > h3 {
    font-weight: 600;
    margin-bottom: 7px;
}
.download-form > textarea {
    width: 100%;
    height: 45px;
    resize: none;
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    outline: none;
    border-radius: 12px;
    transition: .3s;
}
.download-form > textarea:focus,
.download-input-boxes > div > input:focus {
    border: 1px solid #0092FF;
    box-shadow: 0 0 12px 5px #c2e2ff;
}
.download-form > button {
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 20px;
    background-color: #204891;
    border: 2px solid #204891;
    margin: 30px auto;
    cursor: pointer;
    color: #fff;
    font-size: 27px;
    transition: .3s;
}

.download-form > button:hover {
    background-color: #4472c3;
}

/* subscribe */
#subscribe {
    width: 100%;
    height: auto;
    background-color: #f5faff;
    padding: 70px 0;
}
.subscribe-main {
    text-align: center;
}
.subscribe-main > h2 {
    font-size: 27px;
    margin-bottom: 12px;
    color: #091d3e;
}
.subscribe-main > p {
    font-size: 18px;
    margin-bottom: 21px;
    color: #0092ff;
}
.subscribe-main > button {
    width: 450px;
    height: 75px;
    margin: 30px auto;
    border-radius: 12px;
    font-size: 18px;
    background-color: #0056b3;
    border:1px solid #0056b3;
    color: #fff;
    transition: .3s;
}
.subscribe-main > button:hover {
    background-color: #3c93f0;
}
.subscribe-sub {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subscribe-sub-box {
    width: 270px;
    height: 180px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}
.subscribe-sub-box > img {
    width: 100%;
    height: 120px;
    transition: .3s;
    opacity: 1;
}
.subscribe-sub-box > p {
    text-align: center;
    margin-top: 12px;
    font-weight: bold;
    color: #091d3e;
    transition: .3s;
    font-size: 18px;
}
.subscribe-sub-box:hover > p {
    color: #0092ff;
}
.subscribe-sub-box:hover > img {
    transform: scaleX(1.05);
    opacity: .7;
}
#subscribe > .in > p {
    text-align: center;
}

/* support */
#support {
    width: 1200px;
    margin: 30px auto;
}

/* login */
#login {
    width: 100%;
    height: auto;
    padding: 150px 0;
    position: relative;
}
#login > .size > p{
    text-align: center;
    color: #777;
}
#login > .size > p > a{
    color: #0092FF;
    text-decoration: underline;
}
#login-form {
    width: 500px;
    margin: 0 auto;
    border: 2px solid #efefef;
    background-color: #fff;
    padding: 50px 80px;
    border-radius: 12px;
    margin-bottom: 21px;
}
#login-form > h1 {
    text-align: center;
    color: #333;
    font-size: 35px;
}
#login-form > p {
    text-align: center;
    font-size: 20px;
    color: #4472c3;
}
.login-input {
    margin: 32px auto;
}
.login-input > p{
    margin-bottom: 7px;
    color: #333;
    font-weight: bold;
    float: left;
}
.login-input > button {
    float: right;
    background-color: #fff;
    border: 1px solid #0092FF;
    color: #0092FF;
    border-radius: 7px;
    padding: 3px 7px;
    margin-bottom: 7px;
    transition: .3s;
}
.login-input > button:hover {
    color: #fff;
    background-color: #0092FF;
}
.login-input > input {
    width: 100%;
    height: 45px;
    border: 1.5px solid #ddd;
    border-radius: 12px;
    padding: 0 16px;
    outline: none;
}
.login-input > input:focus {
    transition: .3s;
    border-color: #0092FF;
    box-shadow: 0 0 10px 1px #0092FF;
}
#login-form > button {
    width: 100%;
    height: 50px;
    background-color: #4472c3;
    border: 1px solid #4472c3;
    border-radius: 12px;
    color: #fff;
    font-size: 18px;
    transition: .3s;
}
#login-form > button:hover{
    background-color: #fff;
    color: #4472c3;
}

/* footer */
footer {
    width: 100%;
    height: 70px;
    background-color: #f5f5f5;
    line-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer-menu > li {
    float: left;
    margin: 0 10px;
    font-weight: bold;
}
#header-menu-open {
    display: none;
    width: 180px;
    background-color: #e2eefd;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #4472c3;
    font-weight: bold;
    font-size: 21px;
}

@media (max-width: 767px){
    .in {
        width: 400px;
    }
    header {
        height: 120px;
        position: relative;
    }
    
    #header-menu-open {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    header > nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 180px;
        background-color: #e2eefd;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    #main-menu {
        display: none;
        width: 100%;
        height: auto;
    }
    #main-menu > li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
    #main-menu > li:nth-last-child(1){
        padding: 0;
    }
    #header-menu-open:hover ~ nav > #main-menu,
    #main-menu:hover {
        display: block;
    }

    .main-title {
        height: 200px;
        padding-top: 25px;
    }
    .main-title > img {
        width: 200px;
    }
    .main-title p {
        font-size: 25px;
    }
    .main-title p >span {
        font-size: 32px;
    }

    #main-list-title {
        margin-top: 50px;
    }
    #main-list-title > img {
        width: 150px;
    }
    #main-list-title > h2 {
        font-size: 25px;
    }
    #main-list {
        width: 400px;
        margin: 20px auto;
        flex-direction: column;
    }
    #main-list > div {
        margin: 0;
        width: 100%;
    }
    .main-buttons {
        width: 400px; 
        height: auto;
        flex-direction: column;
    }
    .main-buttons > button {
        margin-bottom: 12px;
    }

    footer {
        height: 140px;
        flex-direction: column;
    }

    #api {
        width: 400px;
        margin: 30px auto;
        flex-direction: column;
    }
    .api-nav {
        flex: none;
    }
    #api-menu> li {
        font-size: 13px;
        height: 30px;
        margin-bottom: 7px;;
    }
    #api-menu > li.active {
        margin: 12px auto;
    }
    .api-sub {
        flex: none;
    }
    .contents {
        padding: 30px 0;
    }
    .contents > h1 {
        font-size: 35px;
        padding-bottom: 7px;
        margin-bottom: 30px;
    }
    .contents > p {
        margin: 10px 0;
        line-height: 1.4;
        font-size: 15px;
    }
    .contents > h2 {
        font-size: 25px;
        margin: 30px 0;
    }
    .contents > h3 {
        margin: 30px auto;
    }
    .download-form {
        width: 400px;
        padding: 15px 30px;
        margin: 30px auto;
    }
    .download-input-boxes > div{
        width: 100%;
    }
    .subscribe-main > button {
        width: 400px;
    }
    .subscribe-sub {
        flex-direction: column;
        justify-content: space-around;
    }
    .subscribe-sub-box {
        margin-bottom: 21px;
    }
    #support {
        width: 400px;
    }
    #login {
        padding: 50px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .in {
        width: 600px;
    }
    header {
        height: 150px;
        position: relative;
    }
    
    #header-menu-open {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    header > nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 180px;
        background-color: #e2eefd;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    #main-menu {
        display: none;
        width: 100%;
        height: auto;
    }
    #main-menu > li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
    #main-menu > li:nth-last-child(1){
        padding: 0;
    }
    #header-menu-open:hover ~ nav > #main-menu,
    #main-menu:hover {
        display: block;
    }

    .main-title {
        height: 250px;
        padding-top: 25px;
    }
    .main-title > img {
        width: 250px;
    }
    .main-title p {
        font-size: 35px;
    }
    .main-title p >span {
        font-size: 40px;
    }
    #main-list-title {
        margin-top: 50px;
    }
    #main-list-title > img {
        width: 170px;
    }
    #main-list-title > h2 {
        font-size: 32px;
    }
    #main-list {
        width: 600px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #main-list > div {
        flex: none;
        width: 250px;
    }
    .main-buttons {
        width: 600px;
    }

    #api {
        width: 600px;
        margin: 30px auto;
        flex-direction: column;
    }
    .api-nav {
        flex: none;
    }
    #api-menu> li {
        font-size: 15px;
        height: 40px;
        margin-bottom: 12px;
    }
    #api-menu > li.active {
        margin: 15px auto;
    }
    .api-sub {
        flex: none;
    }
    .contents {
        padding: 30px 0;
    }
    .contents > h1 {
        font-size: 35px;
        padding-bottom: 7px;
        margin-bottom: 30px;
    }
    .contents > p {
        margin: 10px 0;
        line-height: 1.4;
        font-size: 15px;
    }
    .contents > h2 {
        font-size: 25px;
        margin: 30px 0;
    }
    .contents > h3 {
        margin: 30px auto;
    }
    .download-form {
        width: 600px;
        padding: 30px 45px;
        margin: 50px auto;
    }
    .download-input-boxes > div{
        width: 100%;
    }
    .subscribe-main > button {
        width: 600px;
    }
    .subscribe-sub {
        flex-direction: column;
        justify-content: space-around;
    }
    .subscribe-sub-box {
        margin-bottom: 21px;
    }
    #support {
        width: 400px;
    }
    #login {
        padding: 80px 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .in {
        width: 800px;
    }
    header {
        height: 80px;
    }
    .main-title {
        height: 300px;
        padding-top: 28px;
    }
    .main-title > img {
        width: 330px;
    }
    .main-title p {
        font-size: 40px;
    }
    .main-title p >span {
        font-size: 45px;
    }
    #main-list {
        width: 800px;
        flex-wrap: wrap;
    }
    #main-list > div {
        flex: none;
        width: 350px;
    }
    
    #api {
        width: 900px;
        margin: 30px auto;
    }
    #api-menu> li {
        font-size: 15px;
        height: 40px;
        margin-bottom: 15px;
    }
    .download-form {
        width: 800px;
        padding: 30px 45px;
        margin: 50px auto;
    }
    .subscribe-main > button {
        width: 800px;
    }
    .subscribe-sub-box {
        margin: 0 7px;
    }
    #support {
        width: 900px;
    }
    #login {
        padding: 80px 0;
    }
}

@media (min-width: 1200px) {
    .in {
        width: 1000px;
    }
    .main-title {
        height: 350px;
        padding-top: 40px;
    }
    .main-title > img {
        width: 350px;
    }
    #main-list {
        width: 1000px;
    }
    #main-list > div {
        margin: 0;
    }
    
    #api {
        width: 1000px;
        margin: 30px auto;
    }
    #api-menu> li {
        font-size: 15px;
        height: 40px;
        margin-bottom: 12px;
    }
    .download-form {
        width: 1000px;
        padding: 30px 45px;
        margin: 80px auto;
    }
    .subscribe-main > button {
        width: 1000px;
    }
    .subscribe-sub-box {
        margin: 0 14px;
    }
    #support {
        width: 1000px;
    }
    #login {
        padding: 120px 0;
    }
}